.btn{
    padding: .625rem;
    font-family: 'Roboto', sans-serif;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-border-blue{
    border: 1px solid var(--primary-color);
    background-color: transparent;
}

.btn-bg-blue{
    background-color: var(--primary-color);
    border: none;
    padding: .625rem 1.875rem;
}