.btn{
    padding: .625rem;
    font-family: 'Roboto', sans-serif;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}