/*-----------
  VARIABLES
-----------*/
:root{

  // COLORS
    --primary-color: #0282f9; 
    --main-bg-color: #1c1c1c;

  // TEXT-COLOR
    --text-darkgrey: #464646;
    
  // CONTAINERS DIMENSION
    --main-container: 75rem;
}