/*-----------
  VARIABLES
-----------*/
:root{

  // COLORS
    --primary-color: #0282f9; 
    --main-bg-color: #1c1c1c;
    --footer-bottom-bg-color: #303030;

  // TEXT-COLOR
    --text-darkgrey: #464646;
    --text-lightgrey: #959595;
    
  // CONTAINERS DIMENSION
    --main-container: 75rem;

  // BACKGROUND IMAGES
    --footer-mid-bg-img: url("./assets/img/footer-bg.jpg");
    --footer-mid-bg-logo: url("./assets/img/dc-logo-bg.png");
}